<!DOCTYPE html>
  <head>
    <title>Weierstrass point calculator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://harryrichman.github.io/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <script src="../weierstrass.js"></script> -->
    <script src="{{ url_for('static', filename='weierstrass.js') }}" defer></script>
    <style>
        #force-graph {
            width: 600px;
            border: 1px solid;
            /* border-color: black; */
        }
        #visjs-network {
          width: 600px;
          height: 400px;
          border: 1px solid;
        }
        label {
            display: block;
        }
    </style>
    
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- <script src="https://unpkg.com/force-graph@1.43.4/dist/force-graph.min.js"></script>
    <script src="https://unpkg.com/d3-force@3.0.0/dist/d3-force.min.js"></script> -->

    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>

  </head>
  <body>

    <div class="text">
    <h1>Weierstrass points on graphs</h1>
    <p>
        A graph, or network, is a configuration of vertices and edges.
        On a fixed graph, we can place chips around on vertices and play the "chip-firing game."
        This has connections to constructions on algebraic curves.
    </p>

    <section>

        <!-- frucht graph example -->
      
        <div id="visjs-network"></div>
        <script type="text/javascript">
          // create an array with nodes
          var frucht_nodes = new vis.DataSet([
            { id: 1, label: "1", title: "vertex 1" },
            { id: 2, label: "2", title: "vertex 2" },
            { id: 3, label: "3", title: "vertex 3" },
            { id: 4, label: "4", title: "vertex 4" },
            { id: 5, label: "5", title: "vertex 5" },
            { id: 6, label: "6", title: "vertex 6" },
            { id: 7, label: "7", title: "vertex 7" },
            { id: 8, label: "8", title: "vertex 8" },
            { id: 9, label: "9", title: "vertex 9" },
            { id: 10, label: "10", title: "vertex 10" },
            { id: 11, label: "11", title: "vertex 11" },
            { id: 12, label: "12", title: "vertex 12" },
          ]);
    
          // create an array with edges
          var frucht_edges = new vis.DataSet([
            { from: 1, to: 2, color: undefined },
            { from: 2, to: 3 },
            { from: 3, to: 4 },
            { from: 4, to: 5 },
            { from: 5, to: 6 },
            { from: 6, to: 7 },
            { from: 7, to: 1 },
            { from: 1, to: 8 },
            { from: 2, to: 8 },
            { from: 3, to: 9 },
            { from: 4, to: 9 },
            { from: 5, to: 10 },
            { from: 6, to: 10 },
            { from: 7, to: 11 },
            { from: 8, to: 11 },
            { from: 9, to: 12 },
            { from: 10, to: 12 },
            { from: 11, to: 12 },
          ]);
    
          // create a network
          var container = document.getElementById("visjs-network");
          var frucht_data = {
            nodes: frucht_nodes,
            edges: frucht_edges,
          };
    
          var options = {
            nodes: {
              shape: "dot",
              size: 6,
              color: {
                border: "DarkGray",
                background: "LightGray",
                highlight: {
                  background: "#ff8888",
                  border: "#ff0000",
                },
              },
            },
            edges: {
              color: "null",
            },
            interaction: { hover: true },
            manipulation: {
              enabled: true,
              controlNodeStyle: {
                shape:'dot',
                size:6,
                color: {
                  background: '#000000',
                  border: '#3c3c3c',
                  highlight: {
                    background: '#000000',
                    border: '#3c3c3c'
                  }
                },
                borderWidth: 2,
                borderWidthSelected: 2
              },
            },
          };
    
          var network = new vis.Network(container, frucht_data, options);

          function defaultColors() {
            console.log("running default colors fn")
            for (let i = 1; i <= frucht_nodes.length; i++) {
              var node = frucht_nodes.get(i);
              node.color = {
                border: "DarkGray",
                background: "LightGray",
              };
              node.label = "0",
              frucht_nodes.update(node)
            }
          }
          function colorNode(id) {
            var selected_node = frucht_nodes.get(id)
            selected_node.color = {
              border: "red",
              background: "red",
            }
            selected_node.label = "1",
            frucht_nodes.update(selected_node)
          }
      </script>
    </section>      

<!-- P8 interactive standard form -->
<div class="interactive">
  Enter an adjacency matrix of a connected graph.  
  <p>
    <label for="P8-input-V">Enter vertices of \(G\)</label></br>
    <input id="P8-input-V" type="text" class="interactive-input" size="50" value="1, 2, 3, 4, 5, 6, 7, 8">
  </p>
  <div>
    <label for="P8-input-E">Enter edges of \(G\)</label>

    <textarea id="P8-input-E" class="interactive-input" rows="5" cols="50"
        >(1, 2), (2, 3), (1, 4), (4, 3), (1, 5), (3, 7), (5, 6), (6, 7), (5, 8), (8, 7)</textarea>
  </div>
  <button id="P8-submit" class="py-button" type="submit" py-click="p8()">Submit data</button>
  <div id="P8-output" class="interactive-output hidden"></div>
</div>


<section>
    <div id="mpl-graph">
    </div>
</section>



<!-- P9 three maps in the LES -->
<!-- <div class="interactive" id="les">
  Give facets for \(X\) and \(A \) to get the long exact sequence for the pair \(X, A\)
  <p>
    <label for="P9-input-X">Enter facets for \(X\)</label>
    <input id="P9-input-X" class="interactive-input">
  </p>
  <p>
    <label for="P9-input-A">Enter facets for \(A\)</label>
    <input id="P9-input-A" class="interactive-input">
  </p>
  <p>
    <button id="P9-1" class="py-button" type="submit" py-click="p9_1()">(2-Sphere, equator)</button>
    <button id="P9-2" class="py-button" type="submit" py-click="p9_2()">(graph, spanning tree)</button>
    <button id="P9-3" class="py-button" type="submit" py-click="p9_3()">(torus, point)</button>
    <button id="P9-4" class="py-button" type="submit" py-click="p9_4()">(genus-2 surface, separating loop)</button>
  </p>
  <button id="P9-submit" class="py-button" type="submit" py-click="p9()">Submit pair</button>
  <div id="P9-output" class="interactive-output hidden"></div>
</div> -->


  </body>
</html>